.App-header {
  background-color: #0036ff;
  min-height: 10vh;
  max-height: 35vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head-button {
  display: grid;
  background-color: #F4E29F;
  color: white;
  border: 1px solid black;
  font-size: 18px;
  margin-top: 10%;
  margin-bottom: 10%
}

#button1 {
  display: grid;
  grid-column: 1;
  grid-row: 1;

}

#button2 {
  display: grid;
  grid-column: 1;
  grid-row: 2;
}

#button3 {
  display: grid;
  grid-row: 3;
}

#button4 {
  grid-column: 3;
  grid-row: 2;
}

h1 {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 2;
  background-color: #F4E29F
}
