.App-header {
  background-color: lightsteelblue;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head-button {
  background-color: white;
  color: lightsteelblue;
  border: 1px solid black;
  font-size: 18px
}

h1 {
  display: grid;
  grid-column: 2
}
